<section class="hero is-fullheight has-text-centered" id="project">
  <div class="hero-body">
    <div class="container">
      <hr>
        <div class="section">
          <p class="subtitle is-2 is-uppercase has-text-weight-medium has-text-grey">Project</p>
        </div>
        <div class="column">
          <figure class="image">
              <img src="/assets/images/project/project.png">
          </figure>
        </div>
        <div class="column">
          <table class="table">
            <tbody>
              <tr>
                <th>1</th>
                <td><strong>Project title:</strong></td>
                <td>Advanced Information Modelling for SAFER structures against manmade hazards</td>
              </tr>
              <tr>
                <th>2</th>
                <td><strong>Project ID:</strong></td>
                <td>00356</td>
              </tr>
              <tr>
                <th>3</th>
                <td><strong>Project Acronym:</strong></td>
                <td>IMSAFER</td>
              </tr>
              <tr>
                <th>4</th>
                <td><strong>Starting date:</strong></td>
                <td>16/11/2020</td>
              </tr>
              <tr>
                <th>5</th>
                <td><strong>Duration in months:</strong></td>
                <td>36</td>
              </tr>
              <tr>
                <th>6</th>
                <td><strong>Action:</strong></td>
                <td>2nd Call for H.F.R.I. Research Projects to support Post-doctoral Researchers</td>
              </tr>
              <tr>
                <th>7</th>
                <td><strong>Scientific area:</strong></td>
                <td>Engineering Sciences & Technology</td>
              </tr>
              <tr>
                <th>8</th>
                <td><strong>Scientific Field:</strong></td>
                <td>2.8 Other engineering sciences and technology (e.g. security)</td>
              </tr>
              <tr>
                <th>9</th>
                <td><strong>Keywords:</strong></td>
                <td>ManMade Hazard (ΜΜΗ), Building Information Modelling (BIM), extreme loading
                  conditions, smart buildings, fire safety, risk and loss estimation assessment</td>
              </tr>
            </tbody>
          </table>
        </div>
  </div>
</section>      
